html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*CLASES RE-UTILIZABLES*/

.container {
    width: 80%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    border-radius: 0.5em;
    padding: 0.5em;
    text-decoration: none;
}

.btn-brown {
    color: white;
    background-color: #594A39;
}

/*HEADER Y NAVBAR*/

.bg-header {
    background-image: url('../assets/img/bg-header-min.jpg');
    height: 18.75em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1.5em 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
    text-decoration: none;
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em;
    border-radius: 0.3em;
}

.navbar-nav a {
    display: inline-block;
    padding: 0.3em;
    color: white;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: black;
    background-color: white;
    border-radius: 0.5em;
}

/*MAIN*/

.main {
    margin-top: -2em;
    background-color: white;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.5em;
}

.main-title {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0.5em 0;
}

.card {
    color: white;
    background-color: #A6444C;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
    text-align: left;
}

.card-body h5 {
    margin: 1em 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.card-body p {
    font-weight: 300;
}

/*NOSOTROS*/

.nosotros-img {
    width: 100%;
}